## Pandas Introduction

In [1]:
import pandas as pd

.

###### Dictionary Creation

In [2]:
dict_data = {
"country":["Brazil", "Russia", "India", "China", "South Africa"],
"capital":["Brasilia", "Moscow", "New Delhi", "Beijing", "Pretoria"],
"area":[8.516, 17.10, 3.286, 9.597, 1.221],
"population":[200.4, 143.5, 1252, 1357, 52.98] 
}

dict_data

{'area': [8.516, 17.1, 3.286, 9.597, 1.221],
 'capital': ['Brasilia', 'Moscow', 'New Delhi', 'Beijing', 'Pretoria'],
 'country': ['Brazil', 'Russia', 'India', 'China', 'South Africa'],
 'population': [200.4, 143.5, 1252, 1357, 52.98]}

.

###### Create 1st Panda object

In [3]:
brics = pd.DataFrame(dict_data)
brics

     area    capital       country  population
0   8.516   Brasilia        Brazil      200.40
1  17.100     Moscow        Russia      143.50
2   3.286  New Delhi         India     1252.00
3   9.597    Beijing         China     1357.00
4   1.221   Pretoria  South Africa       52.98

.

###### Add index for rows

In [4]:
brics.index = ["BR", "RU", "IN", "CH", "SA"]

brics

      area    capital       country  population
BR   8.516   Brasilia        Brazil      200.40
RU  17.100     Moscow        Russia      143.50
IN   3.286  New Delhi         India     1252.00
CH   9.597    Beijing         China     1357.00
SA   1.221   Pretoria  South Africa       52.98

.

###### Play with Data using Pandas

In [5]:
import numpy as np

customer_visitors = pd.DataFrame({
                      'DateCol' : pd.date_range('2018-01-01','2019-12-01',freq='M'),
                       'customers_visited' : np.random.randint(5,size=23)
                     }
                     )

customer_visitors

      DateCol  customers_visited
0  2018-01-31                  4
1  2018-02-28                  3
2  2018-03-31                  3
3  2018-04-30                  1
4  2018-05-31                  4
5  2018-06-30                  4
6  2018-07-31                  4
7  2018-08-31                  0
8  2018-09-30                  2
9  2018-10-31                  3
10 2018-11-30                  4
11 2018-12-31                  0
12 2019-01-31                  0
13 2019-02-28                  1
14 2019-03-31                  2
15 2019-04-30                  0
16 2019-05-31                  1
17 2019-06-30                  1
18 2019-07-31                  1
19 2019-08-31                  1
20 2019-09-30                  0
21 2019-10-31                  3
22 2019-11-30                  2

###### Add new column having just year

In [6]:
customer_visitors['Yearcol']=customer_visitors.DateCol.dt.year

customer_visitors

      DateCol  customers_visited  Yearcol
0  2018-01-31                  4     2018
1  2018-02-28                  3     2018
2  2018-03-31                  3     2018
3  2018-04-30                  1     2018
4  2018-05-31                  4     2018
5  2018-06-30                  4     2018
6  2018-07-31                  4     2018
7  2018-08-31                  0     2018
8  2018-09-30                  2     2018
9  2018-10-31                  3     2018
10 2018-11-30                  4     2018
11 2018-12-31                  0     2018
12 2019-01-31                  0     2019
13 2019-02-28                  1     2019
14 2019-03-31                  2     2019
15 2019-04-30                  0     2019
16 2019-05-31                  1     2019
17 2019-06-30                  1     2019
18 2019-07-31                  1     2019
19 2019-08-31                  1     2019
20 2019-09-30                  0     2019
21 2019-10-31                  3     2019
22 2019-11-30                  2     2019

.

# Requirement #1:


### Get average number of customers visited on a single day for every year

In [7]:
import numpy as np

customer_visitors = pd.DataFrame({
                      'DateCol' : pd.date_range('2018-01-01','2019-12-01',freq='M'),
                       'customers_visited' : np.random.randint(5,size=23)
                     }
                     )

customer_visitors

      DateCol  customers_visited
0  2018-01-31                  0
1  2018-02-28                  2
2  2018-03-31                  1
3  2018-04-30                  1
4  2018-05-31                  2
5  2018-06-30                  0
6  2018-07-31                  0
7  2018-08-31                  3
8  2018-09-30                  4
9  2018-10-31                  1
10 2018-11-30                  2
11 2018-12-31                  4
12 2019-01-31                  4
13 2019-02-28                  0
14 2019-03-31                  3
15 2019-04-30                  2
16 2019-05-31                  1
17 2019-06-30                  0
18 2019-07-31                  4
19 2019-08-31                  0
20 2019-09-30                  2
21 2019-10-31                  0
22 2019-11-30                  2

In [12]:
customer_visitors['Yearcol']=customer_visitors.DateCol.dt.year

In [13]:
result = customer_visitors.groupby('Yearcol').mean()

result

         customers_visited
Yearcol
2018              1.666667
2019              1.636364

.

###### Oohhh 'FRACTIONAL'  number of customers can't visit any day, we need an integer value [Need floor value]

In [14]:
result = customer_visitors.groupby('Yearcol').mean().astype(int)

result


# result = customer_visitors.groupby('Yearcol').mean()
# result.customers_visited = np.round(result.customers_visited)
# result

         customers_visited
Yearcol
2018                     1
2019                     1

#### Commented Code

try:
    del customer_visitors["Yearcol"]
except:
    pass

result = customer_visitors.groupby(customer_visitors.DateCol.dt.year).mean().astype(int)

result

.

.

# Requirement #2:

### Get average number of customers visited on every day of the week for every year

In [33]:
import numpy as np

customer_visitors = pd.DataFrame({
                      'DateCol' : pd.date_range('2018-01-01','2019-12-01',freq='M'),
                       'customers_visited' : np.random.randint(5,size=23)
                     }
                     )

customer_visitors

      DateCol  customers_visited
0  2018-01-31                  0
1  2018-02-28                  4
2  2018-03-31                  2
3  2018-04-30                  0
4  2018-05-31                  4
5  2018-06-30                  1
6  2018-07-31                  3
7  2018-08-31                  0
8  2018-09-30                  1
9  2018-10-31                  4
10 2018-11-30                  1
11 2018-12-31                  0
12 2019-01-31                  4
13 2019-02-28                  4
14 2019-03-31                  4
15 2019-04-30                  2
16 2019-05-31                  0
17 2019-06-30                  3
18 2019-07-31                  1
19 2019-08-31                  2
20 2019-09-30                  2
21 2019-10-31                  0
22 2019-11-30                  0

In [34]:
import calendar

list(calendar.day_name)

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

.

In [35]:
customer_visitors.DateCol.dt.dayofweek

0     2
1     2
2     5
3     0
4     3
5     5
6     1
7     4
8     6
9     2
10    4
11    0
12    3
13    3
14    6
15    1
16    4
17    6
18    2
19    5
20    0
21    3
22    5
dtype: int64

In [36]:
type(customer_visitors.DateCol.dt.dayofweek)

pandas.core.series.Series

.

###### List comprehension is used below

In [37]:
[ list(calendar.day_name)[i] for i in customer_visitors.DateCol.dt.dayofweek]

['Wednesday',
 'Wednesday',
 'Saturday',
 'Monday',
 'Thursday',
 'Saturday',
 'Tuesday',
 'Friday',
 'Sunday',
 'Wednesday',
 'Friday',
 'Monday',
 'Thursday',
 'Thursday',
 'Sunday',
 'Tuesday',
 'Friday',
 'Sunday',
 'Wednesday',
 'Saturday',
 'Monday',
 'Thursday',
 'Saturday']

In [38]:
customer_visitors_new = customer_visitors.groupby([customer_visitors.DateCol.dt.year, customer_visitors.DateCol.dt.dayofweek]).mean()

customer_visitors_new

        customers_visited
2018 0           0.000000
     1           3.000000
     2           2.666667
     3           4.000000
     4           0.500000
     5           1.500000
     6           1.000000
2019 0           2.000000
     1           2.000000
     2           1.000000
     3           2.666667
     4           0.000000
     5           1.000000
     6           3.500000

In [39]:
customer_visitors_new.index

MultiIndex(levels=[[2018, 2019], [0, 1, 2, 3, 4, 5, 6]],
           labels=[[0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1], [0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6]])

In [40]:
customer_visitors_new.index.levels

FrozenList([[2018, 2019], [0, 1, 2, 3, 4, 5, 6]])

In [41]:
customer_visitors_new.index.levels[1]

Int64Index([0, 1, 2, 3, 4, 5, 6], dtype='int64')

In [42]:
customer_visitors_new.index = pd.MultiIndex.from_tuples([(x[0], list(calendar.day_name)[x[1]]) for x in customer_visitors_new.index])

customer_visitors_new

                customers_visited
2018 Monday              0.000000
     Tuesday             3.000000
     Wednesday           2.666667
     Thursday            4.000000
     Friday              0.500000
     Saturday            1.500000
     Sunday              1.000000
2019 Monday              2.000000
     Tuesday             2.000000
     Wednesday           1.000000
     Thursday            2.666667
     Friday              0.000000
     Saturday            1.000000
     Sunday              3.500000

In [43]:
customer_visitors_new = customer_visitors_new.unstack(1)

customer_visitors_new.columns = customer_visitors_new.columns.droplevel(0)

customer_visitors_new = customer_visitors_new.reindex_axis(sorted(customer_visitors_new.columns, key= lambda x: list(calendar.day_name).index(x)), axis=1)

customer_visitors_new

      Monday  Tuesday  Wednesday  Thursday  Friday  Saturday  Sunday
2018       0        3   2.666667  4.000000     0.5       1.5     1.0
2019       2        2   1.000000  2.666667     0.0       1.0     3.5